:root{
    --mainColor:#000000;
    --secondaryColor: #121212;
    
    --borderColor: #808080;

    --mainText: #fff;
    --secondaryText: #eeeeee; 

    --themeDotBorder: #fff;

    --previewBg:  rgba(0, 0, 1, 0.5);
    --previewShadow:#1C1C1EFF;

    --buttonColor: #434343;
}